@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: arial;
    background-color:#f0f0d8;

}
head{
    background-color:#f0f0d8;
}


header {
    border: 0px 0px 5px 0px solid black;
    text-align:center;
    background-color:#f0f0d8;
    width:100%;
}


#center {
  padding: 10px;
  text-align: center;
}
.sender {
    background-color: #F4F4F4;
    color: black;
    grid-column: 2;
    grid-auto-flow: row;
    padding: 20px;
    border: 3px solid #DDDDFF;
}
table {
  margin: auto;
  width: 50%;
  background-color: #DDDDFF;
  border: 3px solid black;
  padding: 10px;

}

#extraInfo {
    margin: auto;
    width: 50%;
    background-color: #DDDDFF;
    border: 3px solid black;
    padding: 10px;
}

.interface {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15% 70% 15%;
  background-color: #F0F0D8;
  color: #030303;
}

.packageSpecific {
    background-color: #F4F4F4;
    grid-column: 2;
    grid-auto-flow: row;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    border: 3px solid #DDDDFF;
}

#Storlek{
    display:block;
}



#express{
    display:block;
    visibility:visible;
    position:static;

}

.button {
  background-color: #567;
  border: 2px solid #346;
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: auto;
  width: 100%;
}

textarea {
    resize: none;
    background-color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #F0F0D8;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border: 3px solid #DDDDFF;
}

.modal-body {
    padding: 2px 25px;
    background-color: #F4F4F4;
    border: 3px solid #DDDDFF;

 }
label{
    color:black;
    font-weight: bold;
}
input{
    color:black;
    opacity: 2;
    background-color: white;
}
#Upkri{
    width:100%;
}
