@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: arial;
    text-align:center;
    background-color:#DDDDFF;

}
.interactions {

}
.button {
  background-color: #567;
  border: 2px solid #346;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: auto;
  width: 100%;
}

.button:hover {
  background-color: #234;
}
.foraridentitet{
    background-color:#DDDDFF;
    

    text-align:center;
}

.top {
  background-color: #DDDDFF;
  color: #000;
  padding-top: 10px;
  border-bottom: 10px solid #BBB;
  grid-auto-flow: row;
  font-size: 20px;
}

.currentJob > p {
  font-size: 15px;
  margin: 4px 0px 4px 0px;
}
.currentJob {
  background-color: #DDDDFF;
  color: #000;
  padding: 10px 10px 10px 20px;
  border-bottom: 10px solid #BBB;
  grid-auto-flow: row;
  font-size: 18px;
  height: 40vh;
}

.interface {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 70% 18%;
  background-color: #DDD;
  color: #FFFFFF;
  border-top:10px solid #BBB;
}

.mission {
  grid-column: 1;
  background-color: #DDDDFF;
  color: #000;
  border-radius: 0px;
  padding: 0px;
  grid-auto-flow: row;
}

.map {
  grid-column: 2;
  background-color: #FFF;
  color: #000;
  border-radius: 0px;
  padding: 0px;
  grid-auto-flow: row;
  background-color:#DDDDFF;
}

#infoField {

}

#my-map {
  width: 100%;
  height: 90vh;
	border: 0px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	margin: 0em auto;
  border-bottom:10px solid #BBB;
}

.extraInfo {
  grid-column: 3;
  background-color: #DDDDFF;
  color: #000;
  border-radius: 0px;
  padding: 20px;
  grid-auto-flow: row;
}

.extraInfo > p {
  font-size: 18px;
}
