<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELIVERY DISPATCHER</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="css/shared.css">
  <link rel="stylesheet" href="css/dispatcher.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>
  <a href="/" target="_blank">Open customer view</a> |
  <a href="/dispatcher" target="_blank">Open another dispatcher view</a> |
  <a href="/driver" target="_blank">Open driver view</a>
  <h1>
    DELIVERY DISPATCHER
  </h1>
  <div id="page">
  <div class="interface">
    <div class="jobs">
      <ul>
      <li v-for="order in orders">
        # {{ order.orderId}}
        <br>
        <b>Express/Processed:</b> {{ order.expressOrAlreadyProcessed ? "Yes" : "No" }}
            <br>
            <br>
            <b>Totalvikt:</b> {{order.orderDetails.totalgrams}} g
            <br>
            <b>Storlek:</b> {{order.orderDetails.storlek}}
            <br>
            <br>
 <!--           <b>Avsändare:</b>
            <br>
            <b>Telefon:</b> {{order.orderDetails.telefonAvsändare}}
            <br>
            <b>Email:</b> {{order.orderDetails.emailAvsändare}}
            <br>
            <br>
            <b>Mottagare</b>
            <br>
            <b>Telefon:</b> {{order.orderDetails.telefonMottagare}}
            <br>
            <b>Email:</b> {{order.orderDetails.emailMottagare}}
            <br>
            <br> -->
            <b>Övrig information:</b>
            <br>
            {{order.orderDetails.driverInstructions}}
            <hr>



        <select v-on:change="assignDriver(order)" v-model="order.driverId">
          <option disabled value="">Assign a driver</option>
          <option v-for="driver in drivers" :value="driver.driverId"> Chaufför: {{ driver.driverId}} </option>
        </select>
        <span v-if="order.driverId != NULL">
          Assigned to {{order.driverId}}!
          </span>
        <div id="testID">

        </div>
      </li>
    </ul>
    </div>
    <div class="middle">
      <div id="my-map"></div>
    </div>
    <div class="driversInfo">
      <ul>
        <li v-for="driver in drivers">
        {{driver.driverId}}
      </li>
      </ul>
    </div>
  </div>
  </div>
</body>
</html>
