<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELIVERY DISPATCHER</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="css/shared.css">
  <link rel="stylesheet" href="css/dispatcher.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>


  <div id="page">
  <div class="interface">
    <div class="jobs">
      <h2>Nuvarande ordrar:</h2>

      <ul>
      <ul class="box" v-for="order in orders">
        Order # {{ order.orderId}}
        <br>
        <b> {{ order.expressOrAlreadyProcessed ? "Express/Utgående" : "Ej bearbetad" }}</b>
            <br>
            <br>
            <b>Totalvikt:</b> {{order.orderDetails.totalgrams}} g
            <br>
            <b>Storlek:</b> {{order.orderDetails.storlek}}
            <br>
            <br>
 <!--           <b>Avsändare:</b>
            <br>
            <b>Telefon:</b> {{order.orderDetails.telefonAvsändare}}
            <br>
            <b>Email:</b> {{order.orderDetails.emailAvsändare}}
            <br>
            <br>
            <b>Mottagare</b>
            <br>
            <b>Telefon:</b> {{order.orderDetails.telefonMottagare}}
            <br>
            <b>Email:</b> {{order.orderDetails.emailMottagare}}
            <br>
            <br> -->
            <b>Övrig information:</b>
            <br>
            <hr>

            {{order.orderDetails.driverInstructions}}


            <span v-if="order.driverId != NULL">
              <br>
              Nuvarande Chaufför: {{order.driverId}}
            </span>

        <select v-on:change="assignDriver(order)" v-model="order.driverId">
          <option disabled value="">Välj förare</option>
          <option v-for="driver in drivers" :value="driver.driverId"> Chaufför: {{ driver.driverId}} </option>
        </select>
        <div id="testID">

        </div>
        <hr>
      </ul>
    </ul>
    </div>
    <div class="middle">
      <div id="my-map"></div>
    </div>
    <div class="driversInfo">
      <h2>Förare:</h2>
      <ul>
        <ul v-for="driver in drivers" class="box">
        <b>Chaufför: </b>{{driver.driverId}}
        <br>
        <p>Jobb i kö: {{lengthord()}}</p>
      </ul>
      </ul>
    </div>
  </div>
  </div>
</body>
</html>
