<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELIVERY DRIVER</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="css/shared.css">
  <link rel="stylesheet" href="css/driver.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/driver.js" defer></script>
</head>
<body>
  <div id="page">
    <a href="/" target="_blank">Open customer view</a> |
    <a href="/dispatcher" target="_blank">Open dispatcher view</a> |
    <a href="/driver" target="_blank">Open another driver view</a>
    <h1>
      DELIVERY DRIVER # <input type="number" min="1" max="12" v-model="driverId"/> (enter your ID)
	  </h1>


    <br><br>
    <ul>
        <div class="interface">
          <div class="mission">
            <div class="top">
               {{lengthord()}} Jobb i kö


      </div>
      <div class="currentJob">
        <div id="currentJob">Current Job:
        </div>
        <div v-for="(order,index,i) in orders" v-if="(i==0) && (order.driverId == driverId)">
        From: {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }} To:  {{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}

        </div>

        <div id="pick">
      </div>
      </div>
      <div v-for="(order,index,i) in orders" v-if="i==0">
      <div class="interactions">
        <button class="button" v-on:click="orderPickedUp(order)">Picked up!</button>
        <button class="button" v-on:click="orderDroppedOff(order)">Dropped off!</button>
      </div>
      </div>
      <div class="interactions">

    <button class="button" v-on:click="quit">Quit</button>
      </div>
    </div>
    <div class="map">
      <div id="my-map"></div>
    </div>
    <div class="extraInfo">
      <p>Extra information:</p>
      <div id="infoField">
        <div v-for="(order,index,i) in orders" v-if="(i==0) && (order.driverId == driverId)">
          Vikt: {{order.orderDetails.totalgrams}} g <br><br>
          Storlek: {{order.orderDetails.storlek}} <br><br>
          <hr>
          Övrig info: {{order.orderDetails.driverInstructions}}
        </div>
      </div>
    </div>
  </div>

    </ul>

  </div>

</body>
</html>
